
<h3> Login if you are already a registered user </h3>
<form ng-submit="logCon.login()">
    
    <input type="text" placeholder="Username" ng-model="logCon.username" autocapitalize="none">
      
    <input type="password" placeholder="Password" ng-model="logCon.password" autocapitalize="none">
    
      
    <button type="submit">Login</button>

</form>

<div ng-if="logCon.isLoggedIn" >
  <p>The User is now logged in   {{ logCon.loginuser.name }}, {{logCon.loginuser.username }} 
  <p> <button ng-click="logCon.logout()">Logout</button> 
</div>