<h1>Register</h1>

<form name="register" ng-submit="regCon.register()">
  
  Name:<input type="text" id="name" ng-model="regCon.name">
  
  Username:<input type="username" id="username" placeholder="Username" 
  ng-model="regCon.username" autocapitalize="none">

  Password:<input type="password" id="password" placeholder="Password" 
  ng-model="regCon.password" autocapitalize="none">
  
  <button type="submit"> Register </button>
</form>
